
<!DOCTYPE html>
<html>
  
<head>
    <link rel="stylesheet" type="text/css" href="app.component.css">

</head>


<div class="container">
    <h1>PG Admission</h1>
    <h2>Institute</h2>
    <h3>EnrolledCourse</h3>
    <h4><span>Logout</span></h4>
  </div>
  
    
<body>
  <div class="form-container">
    <input type="text" class="form-input" placeholder="Type here to search course">
    <button class="submit">Search</button>
  </div>
  <div class="box">
    <div class="content">

    
    <h5>Course name : M.E(VLSI)<br>
      Course Duration : 2 years<br>
      Course Available Timings : 9am to 4pm<br>

    </h5>
    </div>
    <div class="xyz">
      <h6>Number of Students : 222<br>
        Course Description : yyyyy<br>
        <a href="#" style="text-decoration: none;" class="move-down">Enroll course</a>

      </h6>
    </div>
  </div>
  <div class="box1">
    <div class="abc">
      <h6>Course name : M.COM(CA)<br>
        Course Duration : 2 years<br>
        Course Available Timings : 9am to 4pm<br>
  
      </h6>
    </div>
    <div class="mst">
      <p>
        Number of Students : 122<br>
        Course Description : yyyyy<br>
        <a href="#" style="text-decoration: none;" class="move-cal">Enroll course</a>
      </p>
    </div>
  </div>
  
</body>

</html>