


div{
    text-align: center;
    margin-top: 50px; 
    height: 40px;
    
    
   

      
}
h1{
    margin-right: 500px;
    color: white;
    
    
}
h2{
   
    text-align: right;
    
    color: white;
    word-spacing: 40px;
    margin-right: 20px;
}
h3{
    color: white;
    text-align: right;
    font-size: 25px;
    word-spacing: 40px;
}
h4{
    font-size: 25px;
    color: white;
    margin-left: 450px;
}

a{
   
    
    color: white;
    box-sizing: border-box;
    width: 25px;
    height: 15px;
   
}
.container{
    display: flex;
    align-items: center;
    background-color: purple;
    height: 50px;
    margin: 0 auto;

}
.form-input{
  background-color: silver;
}
input[type="text"]::placeholder {
  color: black;
}
.corner{
   position: absolute;
   top: 0;
   right: 0;
   margin-top: 40px;
   margin-right: 20px;
   
   
}

  .submit {
    height: 30px;
    width: 90px;
    margin-left: 20px;
    background-color: purple;
    text-align: center;
    color: white;
    font-style: Times New Roman;
  }
  input[type="text"] {
    height: 25px;
    width: 300px;
    border: 1px solid black;
    
    text-align: center;
    
  }
 
  .box {
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 10px;
    height: 100px;
    width: 40%;
    background-color: silver;
  }
  .content{
    margin-top: -20px;
    text-align: left;
    line-height: 2;
    font-size: 20px; 
  }
  .xyz{
    margin-top: -70px;
    font-size: 23px;
    line-height: 2;
  }
  .box1 {
    border: 1px solid black;
    padding: 15px;
    top: 10px;
    height: 100px;
    width: 40%;
    position: relative;
    background-color: silver;
    
  }
  .abc{
    margin-top: -30px;
    text-align: left;
    line-height: 2;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    
  }
  p {
    font-family: 'Times New Roman', Times, serif; /* Specify the desired font */
    font-size: 15px; /* Adjust the font size as needed */
    font-weight: bold; /* Apply bold style if desired */
    margin-top: -85px;
    line-height: 2;
    /* Add any other desired styles */
  }
  a{
    color: black;
    
    margin-left: 500px;
    border: 1px solid black;
    background-color: lightgreen;
    
    
  }
  .move-down{
    position: relative;
    top: 16px;
    margin-left: 300px;
    text-align: left;
  }
  .move-cal{
    position: relative;
    top: 17px;
    margin-left: 300px;
  }
  